page-home {
    .option{
        margin: 0 auto;
      
        top: 45%;
    }
    .btn-opsi{
        width: 73%;
        height: 36px;
        display: flex;   
        margin: 0 auto;
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        text-align: center;
        padding-right: 12%;
    }

    .btn-icon{
        margin-right: 10px;
        font-size: 24px;
       
    }

}