page-home {
    // .option{
    //     margin: 0 auto;
      
    //     top: 45%;
    // }
    .content{
        background-color: #004E7F;
    }
   
    .img{
        position: fixed;
        width: 100%;
        height: 100px;
      }

    .btn-opsi{
        width: 42.5%;
        height: 100%;
        font-size: 22px;
        // font-size: 22px;
        margin: 5;
        margin-left:10px;
        margin-right: 10px;
        background-color: #0075BF;
     
        
     

    }

    .btn-icon{
        font-size: 70px;
   
    }

    .tombol{
        height: 155px;
        width: 290px;
        margin: 0 auto;
        margin-bottom: 0px;
        margin-top: 63%;
        align-content: center;

       
    }

}